button {
  display: block;
  margin: 20px auto;
  background: rgb(113, 206, 237);
  color: #131313;
  border: none;
  padding: 6px 12px;
}

.popup-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.popup {
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  padding: 20px;
  background: #fff;
  position: relative;
}

.pupup a {
  background: crimson;
  color: white;
  text-decoration: none;
  padding: 6px 12px;
}

.popup-close {
  position: absolute;
  padding: 10px;
  top: 5px;
  right: 8px;
  cursor: pointer;
}
